/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-batten-blocks-batten-bio  {
  .bio-image {
    background: #444;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      margin: 0;
      padding: 0;
    }
  }
}
